body{
    margin: 0 auto;
    padding: 0 auto;
    display: block;
}
.header{
    background-color: #f0ad4e;
    height:70px;
    width: 102%;
    margin-bottom: 40px;
}
.check{
    margin-left: 150px;
    margin-top: 35px;
    background-color: #fff;
}
.checkboxData{
    text-transform: uppercase;
   font-weight:600;
    font-size: 16px;
    color: #fff;
}
.short-table table {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin: 1em 0 30px;
}
.short-table table th {
    padding: 20px 30px;
    border: none;
    border-bottom: none;
    border-left: none;
}
.short-table table td {
    padding: 20px 30px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    border-left: none;
}
.short-table th {
    background: none repeat scroll 0 0 #e8eaeb;
    border-bottom: 1px solid #E0E0E0;
    border-top: none !important;
    color: #555555;
    text-shadow: #f6f7f7 0px 1px 1px;
    font-weight: bold;
    height: 60px;
    text-align: center;
}
.short-table td {
    color: #555555;
    text-align: center;
}
.short-table th.align-left, .short-table td.align-left {
    text-align: left;
}
tr:nth-child(2n+1) {
    background-color: #fafafa;
}
tr:nth-child(2n+0) {
    background-color: #f7f7f7;
}
td img {
    border: medium none;
    margin: 0;
    vertical-align: middle;
}
.short-table.red thead th {
    background: none repeat scroll 0 0 #C21200;
    color: #FFFFFF;
}
.short-table.red table {
    border: 1px solid #C21200;
}
.short-table.grey thead th {
    background: none repeat scroll 0 0 #4B4A4A;
    color: #FFFFFF;
}
.short-table.grey table {
    border: 1px solid #4B4A4A;
}
.short-table.blue thead th {
    background: none repeat scroll 0 0 #07558C;
    color: #FFFFFF;
}
.short-table.blue table {
    border: 1px solid #07558C;
}
.searchSpan{
    margin-right: 5px;
    padding-bottom: 15px;
}
.input-group{
    margin-bottom: 10px;
}
.searchDiv{
    float: right;
}
.status{
    width:350px;
}
.searchDiv2{
    float: right;
    margin-right: 20px;
}
.btn-onyx{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.btn-onyx { text-shadow: 0px -1px 0px #bb3b1f; color: #ffffff !important; background-color: #f0ad4e;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
margin: 1px;
padding: 3px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: normal;
font-size: 14px;}

.clear{
    margin-top: -35px;
    margin-right: 207px;
    float: right;
}
.search_bottom {
    float: right;
    margin-top: 135px;
    margin-right: -133px;
}
/*.inner{*/
    /*margin: 0 auto;*/
    /*position: relative;*/
    /*width: 1200px;*/
/*}*/
